<header class="">
    <section class="sticky-wrapper">
        <div id="main-menu" class="main-menu">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div id="search-container">
                            <div class="menu-center">
                                <input name="s" placeholder="START TYPING..." type="text" autofocus/>
                                <div class="xbutton main-menu-search">
                                    X
                                </div>
                            </div>
                        </div>
                        <div id="menu-main ">
                            <div class="navbar-left">
                                <div class="menu-center">
                                    <ul>
                                        <li><a class="nopad" href="demo1.html"><img class="" src="/assets/logo.png" alt=""/></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-right hidden-lg">
                                <div class="menu-center">
                                    <ul class="nav-pills nav menu-lowerpad"> 
                                        <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-right visible-lg">
                                <div class="menu-center">
                                    <ul class="nav-pills navbar-right nav">
                                        <li ><a class="general <%=cp(root_path)%>" data-no-turbolink  href='<%=root_path%>'>HOME</a></li>
                                        <li style="margin-left:35px;"><a class="general <%=cp(visit_index_path)%>" data-no-turbolink href="<%=visit_index_path%>">VISITS</a></li>
                                        <li style="margin-left:35px;"><a class="general <%=cp(artist_index_path)%>" data-no-turbolink href="<%=artist_index_path%>">ARTIST TALKS</a></li>
                                        <li style="margin-left:35px;"><a class="general <%=cp(workshop_index_path)%>" data-no-turbolink href="<%=workshop_index_path%>">WORKSHOPS</a></li>
                                        <li style="margin-left:35px;"><a class="general <%=cp(newsletter_index_path)%>" data-no-turbolink href="<%=newsletter_index_path%>">NEWSLETTER</a></li>
                                        <li style="margin-left:35px;"><a class="general <%=cp(residancy_index_path)%>" data-no-turbolink href="<%=residancy_index_path%>">RESIDENCY</a></li>
                                        <!-- <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
                                        <li><a class="general toggle-1-button"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
             <div class="mobile-menu">
                <div class="container">
                    <ul>
                        <li><a class="general mobile-menu-toggle" data-no-turbolink  href='<%=root_path%>'>HOME</a></li>
                        <li><a class="toggle-1-button" data-no-turbolink href="<%=visit_index_path%>">VISITS</i></a></li>
                        <li><a class="toggle-1-button" data-no-turbolink href="<%=artist_index_path%>">ARTIST TALKS</i></a></li>
                        <li><a class="toggle-1-button" data-no-turbolink href="<%=workshop_index_path%>">WORKSHOPS</i></a></li>
                        <li><a class="toggle-1-button" data-no-turbolink href="<%=newsletter_index_path%>">NEWSLETTER</i></a></li>
                        <li><a class="general main-menu-search" data-no-turbolink href="<%=residancy_index_path%>">RESIDENCY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>