<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="index.html"><i class="fa fa-home"></i> Workshop</a></li>
        <li><a href="#">List</a></li>
      </ul>
      <ul>
        <%= render 'partials/error_messages'%>
      </ul>
      <div class="m-b-md">
        <h3 class="m-b-none">Residancy Gallery</h3>
      </div>
      <section class="panel panel-default">
        <header class="panel-heading">
          Gallery
          <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
          <a style="float:right;margin-top:-7px;" href="<%=admin_residancy_index_path%>" class="btn btn-s-sm btn-default ">Back</a> 
        </header>
        <div class="table-responsive">
          <table id="newsletter_list" class="display table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Residancy</th>
                    <th>Picture</th>
                    <th>Actions</th>
                </tr>
            </thead> 
            <tbody>
              <% @avatar.each do |f|%>
                <tr>
                    <td><%=f.imageable.name if f.imageable.present?%></td>
                    <td><img src=<%=f.avatar.url(:thumb)%>></td>                      
                    <td>
                      <span >
                        <a href="/admin/residancy/edit_work_of_residancy/<%=f.id%>" ><i data-toggle="tooltip" data-placement="top" title = "Edit" class="fa fa-pencil icon-muted fa-fw m-r-xs"></i></a>
                        <a href= "/admin/residancy/delete_work_of_residancy/<%=f.id%>" data-method="delete"><i data-toggle="tooltip" data-placement="top" title = "Remove" class="fa fa-times icon-muted fa-fw"></i></a> 
                      </span>
                    </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
