<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
      <li><a href="" ><i class="fa fa-home"></i> Workshop</a></li>
      <li><a href="#">Add</a></li>
      </ul>
      <%= render 'partials/error_messages' %>
      <div class="m-b-md">
        <h3 class="m-b-none">Add Workshop</h3>
      </div>
      <section class="panel panel-default">
        <header class="panel-heading font-bold">
          New Workshop
        </header>
        <div class="panel-body">
          <%= form_for @data , url: admin_workshop_index_path , method: 'post', :html=>{class: 'form-horizontal'} do |f|%>

            <div class="form-group">
              <label class="col-sm-2 control-label">Name/Title</label>
              <div class="col-sm-6">
                <%= f.text_field :name, :class => 'form-control', :required => true, :autocomplete => "off"  %>
              </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Publish Date</label>
              <div class="col-sm-8">
                <%= f.text_field :publishing_date, :class => 'new_workshop input-s input-sm form-control','size'=>'16', :required => true, :autocomplete => "off"  %>
              </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Intro</label>
              <div class="col-sm-6">
                <%= f.text_area :intro, :class => 'ckeditor form-control parsley-validated', :autocomplete => "off" ,rows: "6" %>
              </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Work Details</label>
              <div class="col-sm-6">
                <%= f.text_area :desc, :class => 'ckeditor form-control parsley-validated', :required => true, :autocomplete => "off" ,rows: "6" %>
              </div>
            </div>
            <div class="line line-dashed line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cover </label>
              <div class="col-sm-6">
                <%= f.file_field :cover_pic, :class => 'file ', :required => true, :autocomplete => "off"  %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-4">
                <button type="submit" class="btn btn-primary">Save </button>
              </div>
            </div>
          <%end%>
        </div>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
