<div  data-no-turbolink  id="wrapper-1">
<!-- ========= HEADER ========= -->
<%=render 'partials/front_header'%>
<!-- ========= END ========= -->
<!-- ========= CALLOUT BOX LIGHT ======== -->
<section class="section-bar-1 newsletter-clr">
    <div class="container">
        <div class="callout-box-1 newsletter-clr">
            <div class="box-text">
                <h3><%=@data.title%></h3>
            </div>
        </div>
    </div>
</section>
<section class="section section-margin" style="padding-bottom: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-xs-12 subpage-left">
                <a data-lightbox="single" href="<%=@data.avatar%>">
                    <div class="isotope-info">
                        <img class="img-responsive" src="<%=@data.avatar.url(:natural)%>" alt=""/>
                        <div class=""><div class="infobox-3"></div></div>
                    </div>
                </a>   
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <div class="infobox-4">
                    <div class="infobox-text-2">
                        <h6  class="newsletter-title-color">ARTICLE</h6>
                        <p><%=@data.title%><br/>
                           Author: <%=@data.author%><br/>
                        </p>
                    </div>
                    <div class="infobox-text-2">
                        <h6  class="newsletter-title-color">INTRO</h6>
                        <p><%=truncate(@data.intro,length: 300)%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========= END ========= -->
<!-- ========= INFO ========= -->
<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <div class="infobox-2">
                    <h4 class="newsletter-title-color">Description</h4>
                    <p><%=@data.description%></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============= END ============= -->
<%=render 'partials/front_footer'%>
<a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- ========= END ========= -->
</div>
