<div id="wrapper-1">
<%=render 'partials/front_header'%>
<section class="section-bar-1 newsletter-clr">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
              <a data-no-turbolink class="" href="<%=newsletter_path(@data.previous)%>"><i class="fa fa-angle-left fa-3x"></i></a>  
            </div>
             <div class="col-sm-5">
                <div class="callout-box-1 newsletter-clr">
                    <div class="box-text">
                        <h3><%=@data.title%></h3>
                    </div>
                </div>
            </div>       
            <div class="col-sm-3 col-sm-offset-2 ">
                <a data-no-turbolink class="" href="<%=newsletter_path(@data.next)%>"><i class="fa fa-angle-right fa-3x"></i></a>
            </div>   
        </div>
    </div>
</section>
<section class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-xs-12 subpage-left">
                <a data-lightbox="single" href="<%=@data.cover_pic%>">
                    <div class="isotope-info">
                        <img class="img-responsive" src="<%=@data.cover_pic.url(:natural)%>" alt=""/>
                        <div class=""><div class="infobox-3"></div></div>
                    </div>
                </a>   
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <div class="infobox-4">
                    <div class="infobox-text-2">
                        <h6 class="newsletter-title-color">NEWSLETTER</h6>
                        <p><%=@data.title%><br/>
                            Date: <%=@data.publisher_date.strftime('%d-%m-%Y')%><br/>
                        </p>
                    </div>
                    <div class="infobox-text-2">
                        <h6 class="newsletter-title-color">CONTENT</h6>
                        <p><%= @data.summary.html_safe%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-bar-1 bg">
    <div class="container">
         <div id="isotope-single" class="isotope thight margin">
            <% @result.each do |f|%>
                <div class="item col-4">
                    <a data-lightbox="portfolio[group]" href="<%=f.avatar%>">
                        <div class="isotope-info">
                            <img class="img-responsive" src="<%=f.avatar.url(:natural)%>" alt=""/>
                            <div class=""><div class="infobox-3"></div></div>
                     </div>
                    </a>   
                </div>
            <%end%>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <% @articles.each do |article|%>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="comment small blog no-border">
                        <div class="infobox-2">
                            <h6 ><a href="/newsletter/article_detail/<%=article.id%>"><%=article.title%></a></h6>
                            <span ><a href="#" style="color:#959595!important;">By <%=article.author%></a></span>
                        </div>
                        <a data-no-turbolink  href="/newsletter/article_detail/<%=article.id%>"><img class="article-img" href="/newsletter/article_detail/<%=article.id%>" src="<%=article.avatar.url(:natural)%>" alt=""/>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</section>
<!-- ========= END ========= -->
<%=render 'partials/front_footer'%>
<a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
<!-- ========= END ========= -->
</div>
