<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="index.html"><i class="fa fa-home"></i> Newsletter</a></li>
        <li><a href="#">List</a></li>
      </ul>
      <ul>
        <%= render 'partials/error_messages'%>
      </ul>
      <div class="m-b-md">
        <h3 class="m-b-none">Newsletter List</h3>
      </div>
      <section class="panel panel-default">
        <header class="panel-heading">
          Newsletters
          <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> 
        </header>
        <div class="table-responsive">
          <table id="newsletter_list" class="display table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Cover</th>
                    <th>PublishDate</th>
                    <th>Actions</th>
                    <th>Options</th>
                </tr>
            </thead> 
            <tbody>
              <% @data.each do |f|%>
                <tr>
                    <td><%=f.title%></td>
                    <td><%=truncate(strip_tags(f.summary).gsub("&#13;",""))%></td>
                    <td><img src=<%=f.cover_pic.url(:thumb)%>></td>                      
                    <td><%=f.publisher_date.strftime('%d-%m-%Y')%></td>
                    <td>
                      <span >
                        <a href=<%=edit_admin_newsletter_path(f.id)%> ><i data-toggle="tooltip" data-placement="top" title = "Edit" class="fa fa-pencil icon-muted fa-fw m-r-xs"></i></a>
                        <a href= <%=admin_newsletter_path(f.id)%> ><i data-toggle="tooltip" data-placement="top" title = "View" class="fa fa-eye icon-muted fa-fw m-r-xs"></i></a>
                        <a href= <%=admin_newsletter_path(f.id)%> data-method="delete"><i data-toggle="tooltip" data-placement="top" title = "Remove" class="fa fa-times icon-muted fa-fw"></i></a> 
                      </span>
                    </td>
                    <td>
                      <span>
                        <a href="/admin/newsletter/new_articles_to_newsletter/<%=f.id%>" class="btn btn-s-sm btn-info btn-rounded">Add Articles</a>  
                      </span>
                      <span>
                        <a href="/admin/newsletter/show_articles_of_newsletter/<%=f.id%>" class="btn btn-s-sm btn-info btn-rounded">View Articles</a>        
                      </span><br/>
                      <span >
                        <a style="margin-top:5px;"href="/admin/newsletter/new_images_to_newsletter/<%=f.id%>" class="btn btn-s-sm btn-info btn-rounded">Add Pictures</a>  
                      </span>
                       <span>
                        <a style="margin-top:5px;" href="/admin/newsletter/show_images_of_newsletter/<%=f.id%>" class="btn btn-s-sm btn-info btn-rounded">ViewPictures</a> 
                      </span>                      
                    </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
